body{
	font-family:'Verdana';
}

.list{
	list-style: none;
}

.list li{
	border:1px solid black;
}

.serverlist li.selected{
	background-color:#00fff3;
}

.channellist li.selected{
	background-color:#f3ff00;
}

.channellist li.unread{
	background-color:#ff0000;
}